diagrams/.$cache_architecture.drawio.bkp
sim/a.out
.gitignore
sim/wave.vcd
instruction_cache.code-workspace
*.svg
import/sram_macro_files/sky130_sram_1kbytes_1r1w_16x320_320_TT_1p8V_25C.lib
import/sram_macro_files/*.lib
*.gds
*.lef
*.dependencies
*.gtkw
import/sky130_sram_0kbytes_1r1w_16x8_2.v
import/sky130_sram_0kbytes_1r1w_16x32_8.v
import/sky130_sram_1kbytes_1r1w_256x20_20.v
*.$*
design.xml
synth.v
design.stems
design.json
sim/arrays_updater_tb.sv
sim/cache_miss_handler_tb.sv
sim/control_unit_tb.sv
sim/data_array_tb.sv
sim/data_arrays_container_tb.sv
sim/ics1_restart_tb.sv
sim/lru_unit_tb.sv
sim/memory_controller_tb.sv
sim/status_array_tb.sv
sim/status_array_wrapper_tb.sv
sim/tag_array_tb.sv
sim/tag_checker_tb.sv
